/* Override defaults */
.pure-g {
	font-family: inherit;
	letter-spacing: normal;
}

.pure-g [class *= "pure-u"] {
    font-family: inherit;
}

/* Vertical Menus - hide the dropdown arrow */
.pure-menu-has-children > .pure-menu-link:after {
    padding-left: 0;
    content: "";
    font-size: small;
}

/* Horizontal Menus - hide the dropdown arrow */
.pure-menu-horizontal .pure-menu-has-children > .pure-menu-link:after {
    content: "";
}

/* Reset link hover */
.pure-menu-active > .pure-menu-link,
.pure-menu-link:hover,
.pure-menu-link:focus {
    background-color: transparent;
}

.pure-menu-link {
	height: auto;
	white-space: normal;

}
.pure-menu-item {
	height: auto;
}


