
/*-------- Base styles --------*/

.bb-textmedia__text {
	padding: 0;
	
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.bb-textmedia__media {
	margin: 10px 0;
}

.bb-textmedia__item {
	display: block;
	margin: 0 0 10px 0;
	padding: 0;
	font-size: .9em;

	img {
		display: inline-block;
		max-width: 100%;
		height: auto;
		margin: 0;
        border-color: #ccc;
        border-style: solid;
	}
}

.bb-textmedia__item.bb-textmedia__item--noborder {
    background-color: transparent;
    img {
        border: none;
    }
}

.bb-textmedia__items {
	display: flex;
	padding: 0;
}

.bb-textmedia__items--align-left {
	justify-content: flex-start;
}

.bb-textmedia__items--align-center {
    justify-content: center;
}

.bb-textmedia__items--align-right {
	justify-content: flex-end;
}

.bb-textmedia__itemcaption {
	display: block;
	font-size: .9em;
	margin: 0;
    text-align: inherit;

	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.bb-textmedia__itemtitle {
	margin: 0;
    padding: .3em 0; 
    font-size: inherit;
	text-align: left;
}

.bb-textmedia__itemdesc {
    display: block;
    margin: 0;
    padding: .3em 0;
	text-align: left;
}
.bb-textmedia__itemdesc p {
    margin: 0;
    padding: .2em 0;
}

.bb-textmedia__itemcredit a,
.bb-textmedia__itemlicense a {
	font-weight: normal;
}

.bb-textmedia__itemcredit {
	float: left;
}

.bb-textmedia__itemlicense {
	float: right;
}

/*-------- Layouts --------*/

/* Media Above */
.BBLayoutTextMediaAbove {
	.bb-textmedia__media {
		margin-bottom: 20px;
	}
}

/* Media Below */
.BBLayoutTextMediaBelow {

	.bb-textmedia__media {
		margin-top: 20px;
	}
}

/* Media Right */
.BBLayoutTextMediaRight {

	.bb-textmedia__text {
		padding-right: 20px
	}
	.bb-textmedia__media {

	}
}

/* Media Right Wrap */
.BBLayoutTextMediaRightWrap {

	.bb-textmedia__media {
	   float: right;
	   width: 50%;
	   margin-left: 20px;
   }
}

/* Media Left */
.BBLayoutTextMediaLeft {

	.bb-textmedia__text {
		padding-left: 20px
	}
	.bb-textmedia__media {
		margin-top: 15px;
	}
}

/* Media Left Wrap */
.BBLayoutTextMediaLeftWrap {

	.bb-textmedia__media {
		float: left;
		width: 50%;
		margin-right: 20px;
	}
}

/*-------- Modes --------*/

/* Multiple Vertical */
.BBMediaMultipleVertical {
	flex-direction: column;
	
	&.bb-textmedia__items--align-center {
		
		.bb-textmedia__item {
			margin-left: auto;
			margin-right: auto;
		}
	}
	
	&.bb-textmedia__items--align-right {
		
		.bb-textmedia__item {
			margin-left: auto;
			margin-right: 0;
		}
	}
}

/* Multiple Horizontal */
.BBMediaMultipleHorizontal {
	flex-wrap: wrap;
	
	.bb-textmedia__itemwrap {
		display: block;
		margin-right: 10px;
       /* flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
		*/
        &.first {
            margin-left: 0;
        }
        &.last {
            margin-right: 0;
        }
	}
    
    .bb-textmedia__item {
		display: block;
		text-align: left;
	}
    
	.bb-textmedia__itemcaption {
		display: block;
	}
    
	&.bb-textmedia__items--align-left {
		justify-content: flex-start;
	}
	
	&.bb-textmedia__items--align-center {
		justify-content: center;
	}
	
	&.bb-textmedia__items--align-right {
		justify-content: flex-end;
	}
}

/* Slideshow */
.BBMediaSlideshow {

	.bb-textmedia__item {
		width: 100%;
		text-align: center;

		img {
			display: inline-block;
			width: auto;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.owl-item {
		opacity: 0;
	}
	.owl-item.active {
		opacity: 1;
	}
	&.owl-theme .owl-nav {
		position: relative;
		width: 100%;
		height: 1em;
		margin-top: 0;
		opacity: 0;

		[class*=owl-] {
			position: absolute;
			top: 0;
			background-color: rgba(201,201,201,.5);
		}

		.owl-prev {
			left: 0;
		}

		.owl-next {
			right: 0;
		}

		.owl-next {
			right: 0;
		}
	}
	/* Show nav on hover only */
	&:hover .owl-nav {
		opacity: .75;
	}
}
