
/*!
 * Tiraki Custom Content 0.0.1
 * 
 * Copyright (c) 2013 Todd Hossack todd(at)tiraki.com
 * http://www.tiraki.com
 * 
 * Depends:
 * jquery
 */
 
 /* ------------ Accordion ------------ */
.bb-fx__accordion,
.typography .bb-fx__accordion {
	margin: 0 0 15px 0;
	padding: 15px 15px 10px 15px;
	border: 1px solid rgb(175,224,230);
	border: 1px solid rgba(0,153,171,.3);
	border-top: none;
 }

.bb-fx__accordion.bb-fx-js .csc-default > *:first-child,
.bb-fx__accordion.bb-fx-js > *:first-child,
.typography .bb-fx__accordion.bb-fx-js > *:first-child {
	margin-top: 0;
 }
 
.bb-fx__accordion-title,
.typography .bb-fx__accordion-title {
	clear: both;
	margin: -15px -15px 0 -15px;
	padding: 10px 15px 10px 35px;
	border: 1px solid rgb(175,224,230);
	background-color: rgb(238,249,250);
	background-image: url('/tkibuildingblocks/images/fx/accordion-toggle-active.png');
	background-repeat:  no-repeat;
	background-position:  left center;
	-moz-box-shadow: inset 0 -10px 20px rgb(204,236,240);
	-webkit-box-shadow: inset 0 -10px 20px rgb(204,236,240);
	box-shadow: inset 0 -10px 20px rgb(204,236,240);
 }
 
.bb-fx__accordion-title.bb-fx__accordion--inactive {
	 margin-bottom: 15px;
	 background-image: url('/tkibuildingblocks/images/fx/accordion-toggle-inactive.png');
 }
 
  /* ------------ Dropdown List ------------ */
.bb-fx__dropdown-select,
.typography .bb-fx__dropdown-select {
	width: 360px;
	margin-bottom: 0;
	padding: 10px 20px;
	font-size: 1.1em;
	background-color: #f5f5f2;
	background-image: url('/tkibuildingblocks/images/fx/dropdown-toggle-open.png');
	background-repeat:  no-repeat;
	background-position: right center;
	border: 1px solid #b4b39b;
	-moz-box-shadow: inset 0 -10px 20px #cdcdbd;
	-webkit-box-shadow: inset 0 -10px 20px #cdcdbd;
	box-shadow: inset 0 -10px 20px #cdcdbd;
}

.bb-fx__dropdown-select.bb-fx__dropdown--inactive {
	 margin-bottom: 15px;
	 background-image: url('/tkibuildingblocks/images/fx/dropdown-toggle-closed.png');
 }

.bb-fx__dropdown .dropdown-list,
.typography .bb-fx__dropdown .dropdown-list {
	overflow: auto;
	width: 400px;
	height: 12em;
 }
 
 /* ------------ Tab ------------ */
.bb-fx-tab-title {}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.bb-fx__dropdown-select,.typography .bb-fx__dropdown-select { width: 340px; }
	.typography .dropdown-list,.bb-fx__dropdown .dropdown-list,
	.typography .bb-fx__dropdown .dropdown-list { width: 380px; }
}
@media only screen and (max-width: 479px) {
	.bb-fx__dropdown-select,.typography .bb-fx__dropdown-select { width: 220px; }
	.typography .dropdown-list,.bb-fx__dropdown .dropdown-list,
	.typography .bb-fx__dropdown .dropdown-list { width: 260px; }
}

@media print { 
	.bb-fx__accordion,
	.typography .bb-fx__accordion {
		margin: 0 0 15px 0;
		padding: 15px 15px 10px 15px;
		border: 1px solid #ddd;
		border-top: none;
	 }
	 
	.bb-fx__accordion-title,
	.typography .bb-fx__accordion-title {
		margin: 10px 0;
		padding: 10px 15px 10px 35px;
		border: 1px solid #ddd;
		background-color: transparent;
		background-image: url('/tkibuildingblocks/images/fx/accordion-toggle-active.png');
		background-repeat:  no-repeat;
		background-position:  left center;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	 }
	 
	.bb-fx__dropdown-select,
	.typography .bb-fx__dropdown-select {
		width: 360px;
		margin-bottom: 0;
		padding: 10px 20px;
		font-size: 1.1em;
		background-color: transparent;
		background-image: url('/tkibuildingblocks/images/fx/dropdown-toggle-active.png');
		background-repeat:  no-repeat;
		background-position: right center;
		border: 1px solid #ddd;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}